<div class="container-fluid">
        <div class="row">
          <div class="col-md-2">
            <!--Sidebar content-->
            <sidebar-links></sidebar-links>
          </div>
          <div class="col-md-10">
            <!--Body content-->
            <h2>Commit</h2>
            <div class="panel panel-primary">
                <!-- Default panel contents -->
                <div class="panel-heading">{{$ctrl.commit.hash}}</div>
                <div class="panel-body">
                  <div style="float:right; padding-left: 15px; padding-bottom: 15px;">
                    <table class="table table-bordered">
                      <tr>
                        <td>Author: 
                            <author ng-if="$ctrl.commit.author.user" showname="true" author="$ctrl.commit.author.user"></author>
                            <author ng-if="!$ctrl.commit.author.user" showname="true" author="$ctrl.commit.author"></author>
                        </td>
                      </tr>
                      <tr>
                        <td>Participants: <author ng-repeat="reviewer in $ctrl.commit.participants" showname="false" author="reviewer.user"></author></td>
                      </tr>
                      <tr>
                        <td>Parents: <span ng-repeat="parent in $ctrl.commit.parents"><br /><a ng-href="{{parent.links.html.href}}">{{parent.hash}}</a></span></td>
                      </tr>
                      <tr>
                        <td>Branch: {{$ctrl.commit.branches}}</td>
                      </tr>
                      <tr ng-if="$ctrl.commit.tags">
                        <td>Tags: <span ng-repeat="tag in $ctrl.commit.tags">{{tag}}<span ng-if="!$last">, </span></span></td>
                      </tr>
                      <tr>
                        <td>Date: <span uib-tooltip="{{$ctrl.commit.date | date: 'dd MMMM yyyy HH:mm'}}" tooltip-placement="right">{{$ctrl.commit.date | date: 'yyyy-MM-dd'}}</span></td>
                      </tr>
                      <tr ng-if="$ctrl.commit.git_hash">
                        <td><a ng-href="{{$root.projects[$ctrl.project_slug]['github_repo']}}/commit/{{$ctrl.commit.git_hash}}">View on GitHub</a></td>
                      </tr>
                    </table>
                  </div>
                  <p ng-bind-html="$ctrl.mainHtml"></p>
                </div>
              </div>
    
            <hr />
    
            <h3>Comments ({{$ctrl.comments.size}})</h3>
    
            <div ng-repeat="comment in $ctrl.comments.values" class="panel panel-default" style="margin-left:{{comment.parent.depth*50}}px;">
              <div class="panel-heading" ng-attr-id="comment-{{comment.id}}"><author showname="true" author="comment.user"></author><span ng-if="$ctrl.pr.author.uuid==comment.user.uuid"> <span class="label label-primary">Author</span></span></div>
              <div class="panel-body">
                <span ng-bind-html="comment.content.html"></span>
                <span uib-tooltip="{{comment.created_on | date: 'dd MMMM yyyy HH:mm'}}" tooltip-placement="right"><a target="_self" ng-href="#!/{{$ctrl.project_slug}}/pull-requests/{{$ctrl.prId}}/page/{{$ctrl.commentPage}}#comment-{{comment.id}}">{{comment.created_on | date: 'yyyy-MM-dd'}}</a></span>
              </div>
            </div>
    
            <span ng-show="$ctrl.commentPage > 1"><a href="#!/{{$ctrl.project_slug}}/pull-requests/{{$ctrl.prId}}/page/{{$ctrl.commentPage-1 | number:0}}">&laquo; Prev</a></span>
            | <strong>Page {{$ctrl.commentPage}}</strong> |
            <span ng-show="$ctrl.comments.next"><a href="#!/{{$ctrl.project_slug}}/pull-requests/{{$ctrl.prId}}/page/{{$ctrl.commentPage+1 | number:0}}">Next &raquo;</a></span>
    
          </div>
        </div>
      </div>