<div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <!--Sidebar content-->
        <sidebar-links></sidebar-links>
      </div>
      <div class="col-md-10">
        <!--Body content-->
        <h2>{{$ctrl.issue.title}}</h2>
        <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading">Issue #{{$ctrl.issue.id}} <span class="label" ng-class="$ctrl.issue.state=='new' || $ctrl.issue.state=='open' ? 'label-default' : ($ctrl.issue.state=='resolved' || $ctrl.issue.state=='closed' ? 'label-success' : ($ctrl.issue.state=='invalid' || $ctrl.issue.state=='wontfix' || $ctrl.issue.state=='duplicate' ? 'label-danger' : ($ctrl.issue.state=='on hold' ? 'label-warning' :'')))">{{$ctrl.issue.state | uppercase}}</span></div>
            <div class="panel-body">
              <div style="float:right; padding-left: 15px; padding-bottom: 15px;">
                <table class="table table-bordered">
                  <tr>
                    <td>Reporter: <author showname="true" author="$ctrl.issue.reporter"></author></td>
                  </tr>
                  <tr>
                    <td>Created on: <span uib-tooltip="{{$ctrl.issue.created_on | date: 'dd MMMM yyyy HH:mm'}}" tooltip-placement="right">{{$ctrl.issue.created_on | date: 'yyyy-MM-dd'}}</span></td>
                  </tr>
                  <tr>
                    <td>Assignee: <author showname="true" author="$ctrl.issue.assignee"></author></td>
                  </tr>
                  <tr>
                    <td>Type: {{$ctrl.issue.kind}}</td>
                  </tr>
                  <tr>
                    <td>Priority: {{$ctrl.issue.priority}}</td>
                  </tr>
                  <tr>
                    <td>Status: <span class="label" ng-class="$ctrl.issue.state=='new' || $ctrl.issue.state=='open' ? 'label-default' : ($ctrl.issue.state=='resolved' || $ctrl.issue.state=='closed' ? 'label-success' : ($ctrl.issue.state=='invalid' || $ctrl.issue.state=='wontfix' || $ctrl.issue.state=='duplicate' ? 'label-danger' : ($ctrl.issue.state=='on hold' ? 'label-warning' :'')))">{{$ctrl.issue.state | uppercase}}</span></td>
                  </tr>
                  <tr ng-show="$ctrl.issue.component">
                    <td>Component: <span class="badge">{{$ctrl.issue.component.name}}</span></td>
                  </tr>
                  <tr ng-show="$ctrl.issue.milestone">
                    <td>Milestone: <span class="badge">{{$ctrl.issue.milestone.name}}</span></td>
                  </tr>
                  <tr ng-show="$ctrl.issue.version">
                    <td>Version: <span class="badge">{{$ctrl.issue.version.name}}</span></td>
                  </tr>
                  <tr>
                    <td>Votes: <span class="badge">{{$ctrl.issue.votes}}</span></td>
                  </tr>
                  <tr>
                    <td>Watchers: <span class="badge">{{$ctrl.issue.watches}}</span></td>
                  </tr>
                </table>
              </div>
              <p ng-bind-html="$ctrl.mainHtml"></p>
              <div ng-if="$ctrl.attachments.length">
                <h4>Attachments</h4>
                <ul>
                  <li ng-repeat="attachment in $ctrl.attachments"><a ng-href="{{attachment.links.self.href}}">{{attachment.name}}</a></li>
                </ul>
              </div>
            </div>
          </div>

        <hr />

        <h3>Comments ({{$ctrl.comments.size}})</h3>

        <div ng-repeat="comment in $ctrl.comments.values" class="panel panel-default">
          <div class="panel-heading" ng-attr-id="comment-{{comment.id}}"><author showname="true" author="comment.user"></author><span ng-if="$ctrl.issue.reporter.uuid==comment.user.uuid"> <span class="label label-primary">Reporter</span></span></div>
          <div class="panel-body">
            <span ng-show="comment.changes">
              <ul>
                <li ng-repeat="(type,change) in comment.changes.changes" ng-if="type!='assignee_account_id'">
                  <span ng-switch="type">
                  <span ng-switch-when="content">Edited description</span>
                  <span ng-switch-when="priority">Priority changed from {{change.old}} to {{change.new}}</span>
                  <span ng-switch-when="kind">Issue changed from {{change.old}} to {{change.new}}</span>
                  <span ng-switch-when="state">Status changed from {{change.old}} to {{change.new}}</span>
                  <span ng-switch-when="version">
                      <span ng-if="!change.old">Version set to {{change.new}}</span>
                      <span ng-if="change.old && change.new">Version changed from {{change.old}} to {{change.new}}</span>
                      <span ng-if="change.old && !change.new">Removed from version {{change.old}}</span>
                  </span>
                  <span ng-switch-when="milestone">
                      <span ng-if="!change.old">Milestone set to {{change.new}}</span>
                      <span ng-if="change.old && change.new">Milestone changed from {{change.old}} to {{change.new}}</span>
                      <span ng-if="change.old && !change.new">Removed from milestone {{change.old}}</span>
                  </span>
                  <span ng-switch-when="component">
                    <span ng-if="!change.old">Component set to {{change.new}}</span>
                    <span ng-if="change.old && change.new">Component changed from {{change.old}} to {{change.new}}</span>
                    <span ng-if="change.old && !change.new">Removed from component {{change.old}}</span>
                  </span>
                  <span ng-switch-when="assignee">
                    <span ng-if="!change.old">Issue assigned to {{change.new}}</span>
                    <span ng-if="change.old && change.new">Issue assigned from {{change.old}} to {{change.new}}</span>
                    <span ng-if="change.old && !change.new">Issue unassigned from {{change.old}}</span>
                  </span>
                  <span ng-switch-default>{{type}} changed from {{change.old}} to {{change.new}}</span>
                </span>
                </li>
              </ul>
            </span>
            <span ng-bind-html="comment.content.html"></span>
            <span uib-tooltip="{{comment.created_on | date: 'dd MMMM yyyy HH:mm'}}" tooltip-placement="right"><a target="_self" ng-href="#!/{{$ctrl.project_slug}}/issues/{{$ctrl.issueId}}/page/{{$ctrl.commentPage}}#comment-{{comment.id}}">{{comment.created_on | date: 'yyyy-MM-dd'}}</a></span>
          </div>
        </div>

        <span ng-show="$ctrl.commentPage > 1"><a href="#!/{{$ctrl.project_slug}}/issues/{{$ctrl.issueId}}/page/{{$ctrl.commentPage-1 | number:0}}">&laquo; Prev</a></span>
        | <strong>Page {{$ctrl.commentPage}}</strong> |
        <span ng-show="$ctrl.comments.next"><a href="#!/{{$ctrl.project_slug}}/issues/{{$ctrl.issueId}}/page/{{$ctrl.commentPage+1 | number:0}}">Next &raquo;</a></span>

      </div>
    </div>
  </div>