<div class="container-fluid">
        <div class="row">
          <div class="col-md-2">
            <!--Sidebar content-->
            <sidebar-links></sidebar-links>
          </div>
          <div class="col-md-10 table-responsive">
            <!--Body content-->
      
            <h2>Issues</h2>
            <table class="issues table table-striped table-hover">
                <thead>
                    <tr>
                        <th nowrap ng-repeat="column in $ctrl.tableCols">
                            <a ng-click="$ctrl.orderProp='{{column.index}}'; $ctrl.reverseSort = !$ctrl.reverseSort">
                                {{column.title}}
                                <span ng-show="$ctrl.orderProp == '{{column.index}}'">
                                    <span ng-class="!$ctrl.reverseSort ? 'glyphicon glyphicon-triangle-top' : 'glyphicon glyphicon-triangle-bottom'"></span>
                                </span>
                            </a>
                        </th>
                        <!-- <th nowrap>
                            <a ng-click="$ctrl.orderProp='id'; $ctrl.reverseSort = !$ctrl.reverseSort">
                                Title
                                <span ng-show="$ctrl.orderProp == 'id'">
                                    <span ng-class="!$ctrl.reverseSort ? 'glyphicon glyphicon-triangle-top' : 'glyphicon glyphicon-triangle-bottom'"></span>
                                </span>
                            </a>
                        </th>
                        <th nowrap>
                            <a ng-click="$ctrl.orderProp='reporter.display_name'; $ctrl.reverseSort = !$ctrl.reverseSort">
                                Reporter
                                <span ng-show="$ctrl.orderProp == 'reporter.display_name'">
                                    <span ng-class="!$ctrl.reverseSort ? 'glyphicon glyphicon-triangle-top' : 'glyphicon glyphicon-triangle-bottom'"></span>
                                </span>
                            </a>
                        </th>
                        <th nowrap>Type</th>
                        <th nowrap>Priority</th>
                        <th nowrap>Status</th>
                        <th nowrap>Votes</th>
                        <th nowrap>Assignee</th>
                        <th nowrap>Created</th>
                        <th nowrap>Updated</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="issue in $ctrl.issues.values | filter:$ctrl.query | orderBy:$ctrl.orderProp:$ctrl.reverseSort" >
                        <td><a href="#!/issue/{{issue.id}}">#{{issue.id}}: {{issue.title}}</a></td>
                        <td><img ng-src="{{issue.reporter.links.avatar.href}}"  height="32" width="32" class="img-rounded" /> {{issue.reporter.display_name}}</td>
                        <td>{{issue.kind}}</td>
                        <td>{{issue.priority}}</td>
                        <td><span class="label" ng-class="issue.state=='new' || issue.state=='open' ? 'label-default' : (issue.state=='resolved' || issue.state=='closed' ? 'label-success' : (issue.state=='invalid' || issue.state=='wontfix' || issue.state=='duplicate' ? 'label-danger' : (issue.state=='on hold' ? 'label-warning' :'')))">{{issue.state | uppercase}}</span></td>
                        <td>{{issue.votes}}</td>
                        <td><img ng-show="issue.assignee" ng-src="{{issue.assignee.links.avatar.href}}"  height="32" width="32" class="img-rounded" /> {{issue.assignee.display_name}}</td>
                        <td>{{issue.component.name}}</td>
                        <td>{{issue.milestone.name}}</td>
                        <td>{{issue.version.name}}</td>
                        <td><span uib-tooltip="{{issue.created_on | date: 'dd MMMM yyyy HH:mm'}}" tooltip-placement="bottom">{{issue.created_on | date: 'yyyy-MM-dd'}}</span></td>
                        <td><span uib-tooltip="{{issue.updated_on | date: 'dd MMMM yyyy HH:mm'}}" tooltip-placement="bottom">{{issue.updated_on | date: 'yyyy-MM-dd'}}</span></td>
                    </tr>
                </tbody>
            </table>
          
            <span ng-show="$ctrl.currentPage > 1"><a href="#!/issues/page/{{$ctrl.currentPage-1 | number:0}}">&laquo; Prev</a></span>
            | <strong>Page {{$ctrl.currentPage}}</strong> |
            <span ng-show="$ctrl.issues.next"><a href="#!/issues/page/{{$ctrl.currentPage+1 | number:0}}">Next &raquo;</a></span>
          </div>
        </div>
      </div>