<div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <!--Sidebar content-->
        <sidebar-links></sidebar-links>
      </div>
      <div class="col-md-10">
        <!--Body content-->
        <h2>{{$ctrl.issue.title}}</h2>
        <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading">Issue #{{$ctrl.issue.id}} <span class="label" ng-class="$ctrl.issue.state=='new' || $ctrl.issue.state=='open' ? 'label-default' : ($ctrl.issue.state=='resolved' || $ctrl.issue.state=='closed' ? 'label-success' : ($ctrl.issue.state=='invalid' || $ctrl.issue.state=='wontfix' || $ctrl.issue.state=='duplicate' ? 'label-danger' : ($ctrl.issue.state=='on hold' ? 'label-warning' :'')))">{{$ctrl.issue.state | uppercase}}</span></div>
            <div class="panel-body">
              <div style="float:right">
                <table class="table table-bordered">
                  <tr>
                    <td>Reporter: {{$ctrl.issue.reporter.display_name}} <img ng-src="{{$ctrl.issue.reporter.links.avatar.href}}"  height="32" width="32" class="img-rounded" /></td>
                  </tr>
                  <tr>
                    <td>Created on: <span uib-tooltip="{{$ctrl.issue.created_on | date: 'dd MMMM yyyy HH:mm'}}" tooltip-placement="right">{{$ctrl.issue.created_on | date: 'yyyy-MM-dd'}}</span></td>
                  </tr>
                  <tr>
                    <td>Assignee: {{$ctrl.issue.assignee.display_name}}</td>
                  </tr>
                  <tr>
                    <td>Type: {{$ctrl.issue.kind}}</td>
                  </tr>
                  <tr>
                    <td>Priority: {{$ctrl.issue.priority}}</td>
                  </tr>
                  <tr>
                    <td>Status: {{$ctrl.issue.state}}</td>
                  </tr>
                  <tr ng-show="$ctrl.issue.component">
                    <td>Component: {{$ctrl.issue.component.name}}</td>
                  </tr>
                  <tr ng-show="$ctrl.issue.milestone">
                    <td>Milestone: {{$ctrl.issue.milestone.name}}</td>
                  </tr>
                  <tr ng-show="$ctrl.issue.version">
                    <td>Version: {{$ctrl.issue.version.name}}</td>
                  </tr>
                  <tr>
                    <td>Votes: <span class="badge">{{$ctrl.issue.votes}}</span></td>
                  </tr>
                  <tr>
                    <td>Watchers: <span class="badge">{{$ctrl.issue.watches}}</span></td>
                  </tr>
                </table>
              </div>
              <p ng-bind-html="$ctrl.mainHtml"></p>
            </div>
          </div>

        <hr />

        <h3>Comments ({{$ctrl.comments.size}})</h3>

        <div ng-repeat="comment in $ctrl.comments.values" class="panel panel-default">
          <div class="panel-heading"><img ng-src="{{comment.user.links.avatar.href}}" height="32" width="32" class="img-rounded" /> {{comment.user.display_name}}<span ng-if="$ctrl.issue.reporter.uuid==comment.user.uuid"> <span class="label label-primary">Reporter</span></span></div>
          <div class="panel-body">
            <span ng-bind-html="comment.content.html"></span>
            <span uib-tooltip="{{comment.created_on | date: 'dd MMMM yyyy HH:mm'}}" tooltip-placement="right">{{comment.created_on | date: 'yyyy-MM-dd'}}</span>
          </div>
        </div>

        <span ng-show="$ctrl.commentPage > 1"><a href="#!/issue/{{$ctrl.issueId}}/page/{{$ctrl.commentPage-1 | number:0}}">&laquo; Prev</a></span>
        | <strong>Page {{$ctrl.commentPage}}</strong> |
        <span ng-show="$ctrl.comments.next"><a href="#!/issue/{{$ctrl.issueId}}/page/{{$ctrl.commentPage+1 | number:0}}">Next &raquo;</a></span>

      </div>
    </div>
  </div>